
<div class="create_user_form_position">
  <div class="create_user_form" *ngIf="showCreateNewUser">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
      <div class="create_user_form_row">
        <input type="text" formControlName="userFirstName" placeholder="First name" class="float_left long_input_box" />
        <input type="text" formControlName="userLastName" placeholder="Last name" class="float_right long_input_box" />
      </div>
      <div class="clear_both"></div>
      <div class="create_user_form_row">
        <input type="text" formControlName="userJobTitle" class="float_left short_input_box" placeholder="Job title" />
        <input type="text" formControlName="userEmail" class="float_center short_input_box" placeholder="Phone" />
        <input type="text" formControlName="userPhone" class="float_right short_input_box" placeholder="Email" />
      </div>
      <div class="create_user_form_row"><button name="createUserButton" type="submit" class="round_corners float_center">Create</button></div>
    </form>
  </div>
  <div class="new_user_form_row"></div>
  <div class="new_user_form_row"><button name="newUserButton" class="round_corners" (click)="toggleCreateNewUser()">New User +</button></div>
</div>
<div><button name="newUserAddedMessage" *ngIf="showNewUserAdded" class="new_user_added_message round_corners">New user added! <span class="large_x">X</span></button></div>
